<div class="featured-blog__card swiper-slide">
    <div class="featured-blog__img">
        {% if article.image.src != blank %}
            <img src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.image.alt }}">
        {% else %}
            {{ 'product-2' |  placeholder_svg_tag: 'featured-blog__placeholder' }}        
        {% endif %}
    </div>
    <p class="featured-blog__date">{{ article.created_at | date: '%B %d, %Y' }}</p>
    <p class="featured-blog__title">{{ article.title }}</p>
    <a href="{{ article.url }}">
        <button class="featured-blog__button">
            <span>Read more</span>
            {% render 'icon-arrow' %}
        </button>
    </a>
</div>