{{ 'section-collection.css' |  asset_url |  stylesheet_tag }}

<div class="collection">
    <div class="collection-background">
        <div class="container">
            <div class="collection-header">
                {%- if section.settings.show_breadcrumb_nav -%}
                    {% render "breadcrumb", settings: section.settings %}
                    {%- endif -%}
                <p class="collection-header__title">Shop</p>
            </div>
        </div>
    </div>
    <div class="container">
        {% comment %} filter {% endcomment %}
        <div class="collection-filter">
            <button class="collection-filter__sort-button">
                {% render 'icon-filter' %}
                <span>Sort</span>
                {% render 'icon-dropdown' %}
            </button>
            <div class="collection-filter__form">
                <form>
                {%- for filter in collection.filters -%}
                    
                    <summary>
                        <div>
                        <span class="collection-filter__form-title">{{ filter.label }}</span>
        
                        {%- if filter.active_values.size > 0 -%}
                            <span>({{ filter.active_values.size }})</span>
                        {%- endif -%}
                        </div>
                    </summary>
        
                    <div class="collection-filter__form-block">
                        <div>
                        {%- if filter.active_values.size > 0 -%}
                            <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
                        {%- endif -%}
                        </div>
                        {%- case filter.type -%}
                        {%- when 'boolean' -%}
                                <label class="collection-filter__form-label" for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                                <input type="checkbox"
                                    name="{{ filter.param_name }}"
                                    value="{{ filter.true_value.value }}"
                                    id="Filter-{{ filter.param_name }}"
                                    {% if filter.true_value.active -%}checked{%- endif %}
                                    {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}
                                >{{ filter.true_value.label }}</label>
                               
                                <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                                <input type="checkbox"
                                    name="{{ filter.param_name }}"
                                    value="{{ filter.false_value.value }}"
                                    id="Filter-{{ filter.param_name }}"
                                    {% if filter.false_value.active -%}checked{%- endif %}
                                    {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}
                                >{{ filter.false_value.label }}</label>
                            <div>
                            <input type="submit" value="Apply">
                            </div>
                        {%- when 'list' -%}
                            {%- for filter_value in filter.values -%}
                                <label class="collection-filter__form-label" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                <input type="checkbox"
                                    name="{{ filter_value.param_name }}"
                                    value="{{ filter_value.value }}"
                                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                    {% if filter_value.active -%}checked{%- endif %}
                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                >
                                    <span>
                                    {%- case filter_value.display.type -%}
                                        {%- when 'colors' -%}
                                        {% liquid
                                            assign size_limit = filter_value.display.value.size | at_most: 4
                                            assign rotation = '0deg'
                                            if size_limit == 2
                                            assign rotation = '45deg'
                                            endif
        
                                            assign angle_increment = 360 | divided_by: size_limit
                                            assign angle = 0
                                        %}
                                        {%- capture conic_gradient -%}
                                            {%- for color in filter_value.display.value limit: size_limit -%}
                                            {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                            {%- endfor -%}
                                        {%- endcapture -%}
                                        <span style="
                                            width: 25px;
                                            height: 25px;
                                            border-radius: 50%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                        "></span>
                                        {%- when 'image' -%}
                                        {{
                                            filter_value.display.value
                                            | image_url: width: 25
                                            | image_tag: alt: filter_value.display.value.alt
                                        }}
                                        {%- else -%}
                                        <span class="visual-display__child"></span>
                                    {%- endcase -%}
                                    </span>
                                    {{ filter_value.label }}
                                </label>
                            {%- endfor -%}
        
                            <div>
                                <input class="collection-filter__form-submit" type="submit" value="Apply">
                            </div>
                        {%- when 'price_range' -%}
                            <div class="filter-group-display__price-range">
                            <div class="filter-group-display__price-range-from">
                                <span>{{ cart.currency.symbol }}</span>
        
                                <input name="{{ filter.min_value.param_name }}"
                                id="Filter-{{ filter.min_value.param_name }}"
                                {% if filter.min_value.value -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                                type="number"
                                placeholder="0"
                                min="0"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
        
                                <label class="collection-filter__form-label" for="Filter-{{ filter.min_value.param_name }}">From</label>
                            </div>
                            <div class="filter-group-display__price-range-to">
                                <span>{{ cart.currency.symbol }}</span>
        
                                <input name="{{ filter.max_value.param_name }}"
                                id="Filter-{{ filter.max_value.param_name }}"
                                {% if filter.max_value.value -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                                type="number"
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                min="0"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                >
        
                                <label class="collection-filter__form-label" for="Filter-{{ filter.max_value.param_name }}">To</label>
                            </div>
                            </div>
        
                            <div class="filter-group-display__submit">
                            <input class="collection-filter__form-submit" type="submit" value="Apply">
                            </div>
                        {%- endcase -%}
                    </div>
                    
                {%- endfor -%}
        
                    <div>
                        <p><a class="collection-filter__form-clear poppins" href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a></p>
        
                        {%- for filter in collection.filters -%}
                        {%- if filter.type == "price_range" -%}
                            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                            <p>
                                <a href="{{ filter.url_to_remove }}">
                                {%- assign min_value = filter.min_value.value | default: 0 -%}
                                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                                {{ min_value | money }} - {{ max_value | money }} X
                                </a>
                            </p>
                            {%- endif -%}
                        {%- else -%}
                            {%- for filter_value in filter.active_values -%}
                            <p>
                                <a class="collection-filter__form-result" href="{{ filter_value.url_to_remove }}">
                                {{ filter.label }}: {{ filter_value.label }} X
                                </a>
                            </p>
                            {%- endfor -%}
                        {%- endif -%}
                        {%- endfor -%}
                    </div>
                </form>
            </div>
        </div>

        <div class="collection-content">
            {% paginate collection.products by 16 %}
                <div class="collection-products" data-products-per-row="{{ section.settings.products_per_row }}">
                    {% for product in collection.products %}
                        {% render 'product-card', product: product %}
                    {% else %}
                        <p>No products in collection</p>
                    {% endfor %}
                </div>
            
                {% render 'pagination', paginate: paginate %}
            {% endpaginate %}
        </div>
    </div>
</div>

<style>
    .collection-background {
        background-image: url({{ collection.featured_image | img_url: 'master' }});
    }
</style>

{% schema %}
{
    "name": "Collection page",
    "settings": [
        {
            "type": "select",
            "id": "products_per_row",
            "label": "Products per row",
            "options": [
                {
                    "value": "2",
                    "label": "2 Products"
                },
                {
                    "value": "4",
                    "label": "4 Products"
                }
            ],
            "default": "4"
        },
        {
            "type": "checkbox",
            "id": "show_breadcrumb_nav",
            "label": "Show breadcrumb navigation",
            "default": true
        },
        {
            "type": "select",
            "id": "breadcrumb_delimeter",
            "info": "The icon that is between every link in the breadcrumb",
            "label": "Breadcrumb Delimeter Icon",
            "options": [
            {
                "value": "angle_right",
                "label": "Angle Right"
            },
            {
                "value": "slash",
                "label": "Slash"
            }
            ],
            "default": "angle_right"
        },
        {
            "type": "color",
            "id": "breadcrumb_text_color",
            "label": "Breadcrumb Color",
            "default": "#465076"
        }
    ]
}
{% endschema %}