{{ 'section-featured-collection.css' |  asset_url |  stylesheet_tag }}

<div class="featured-collection">
    <div class="container">
        <p class="featured-collection__title">{{ section.settings.title }}</p>
        <p class="featured-collection__subtitle poppins">{{ section.settings.subtitle }}</p>
    
        <div class="featured-collection__container">
           {% for block in section.blocks %}
                <a class="featured-collection__card" href="{{ block.settings.collection.url }}">
                    {% if block.settings.card_image != blank %}
                        <img class="featured-collection__card-img" src="{{ block.settings.card_image | img_url: 'master' }}" alt="{{ block.settings.card_image.alt }}">
                    {% else %}
                        {{ 'collection-1' |  placeholder_svg_tag: 'featured-collection__card-placeholder' }}
                    {% endif %}
                    <div class="featured-collection__card-data">
                        <p class="featured-collection__card-title">{{ block.settings.collection.title }}</p>
                        <p class="featured-collection__card-count">{{ block.settings.collection.all_products_count }} products</p>
                    </div>
                </a>
           {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "shop by categories",
            "label": "title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "default": "pick a category you need",
            "label": "subtitle"
        }
    ],
    "blocks": [
        {
            "name": "Card",
            "type": "collection",
            "limit": 3,
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "image_picker",
                    "id": "card_image",
                    "label": "Card image"
                }
            ]
        }
    ]
}
{% endschema %}