{{ 'section-footer.css' |  asset_url |  stylesheet_tag }}

<footer class="footer">
    <div class="container">
        <div class="footer-container">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'logo' %}
                        <div class="footer__info">
                            {% if section.settings.logo != blank %}
                                <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}">
                            {% else %}
                                <p class="footer__info-shop">{{ shop.name }}</p>
                            {% endif %}
                            <div class="footer__info-slogan poppins">
                                {{ block.settings.logo_richtext }}
                            </div>
                            <div>...</div>
                        </div>
                    {% when 'navigation' %}
                        <div class="footer__nav">
                            <p class="footer__nav-title">{{ block.settings.linklist.title }}</p>    
                            {% for link in block.settings.linklist.links %}
                                <a class="footer__nav-link poppins" href="{{ link.url }}">{{ link.title }}</a>
                            {% endfor %}
                        </div>
                    {% when 'contact_column' %}
                        <div class="footer__contact">
                            <p class="footer__contact-title">{{ block.settings.contact_title }}</p>
                            <p class="footer__contact-address">
                                {% render 'icon-location' %}
                                {{ shop.address.city }} , {{ shop.address.address1 }} , {{ shop.address.address2 }}
                            </p>
                            <p class="footer__contact-number">
                                {% render 'icon-phone' %}
                                {{ shop.phone }}
                            </p>
                            <p class="footer__contact-email">
                                {% render 'icon-email' %}
                                {{ shop.email }}
                            </p>
                        </div>
                    {% else %}
                {% endcase %}                
            {% endfor %}    
        </div>
        <div class="footer-bottom">
            <p>{{ shop.name }} , {{ section.settings.copyright }}</p>
            <p>ALL RIGHT RESERVED</p>
        </div>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "copyright",
            "label": "Copyright Text"
        }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "name": "Logo Column",
            "type": "logo",
            "settings": [
                {
                    "type": "richtext",
                    "id": "logo_richtext",
                    "label": "Text",
                    "default": "<p>The best shop in the world</p>"
                }
            ]
        },
        {
            "name": "Navigation Column",
            "type": "navigation",
            "settings": [
                {
                    "type": "link_list",
                    "id": "linklist",
                    "label": "Navigation menu"
                }
            ]
        },
        {
            "name": "Contact Column",
            "type": "contact_column",
            "settings": [
                {
                    "type": "text",
                    "id": "contact_title",
                    "label": "Contact Title",
                    "default": "CONTACT US"
                }
            ]
        }
    ]
}
{% endschema %}