{{ 'section-header.css' |  asset_url |  stylesheet_tag }}

{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<header class="header">
    <div class="container">
        <div class="header-container">
            <a href="/" class="header-logo">
                {% if settings.logo != blank %}
                    <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}">
                {% else %}
                    <p class="header-logo__name">{{ shop.name }}</p>
                {% endif %}
            </a>
    
            <nav class="header__nav">
                {% for link in main_menu_linklist %}
                    {% if link.links != blank %}
                        <div class="relative header__dropdown-container">
                            <button class="header__nav-button barlow">
                                {{ link.title }}
                                {% render 'icon-dropdown' %}
                            </button>
    
                            <div class="header__nav-dropdown">
                                {% for sublink in link.links %}
                                    <a class="header__nav-link barlow" href="{{ sublink.url }}">{{ sublink.title }}</a>
                                {% endfor %}                       
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <a class="header__nav-link barlow" href="{{ link.url }}">{{ link.title }}</a>
                        </div>
                    {% endif %}
                   
                {% endfor %}
            </nav>

            <div class="mobile-menu">
                <span class="mobile-menu__header">
                    <span class="mobile-menu__header-title">{{ shop.name }}</span>
                    <span class="mobile-menu__close-btn">
                        {% render 'icon-close' %}
                    </span>
                </span>
                {% for link in main_menu_linklist %}
                    {% if link.links != blank %}
                        <div linkId="{{ forloop.index }}" class="mobile-menu__link mobile-menu__link-dropdown">
                            <span>{{ link.title }}</span>
                            {% render 'icon-dropdown' %}
                        </div>
                        <div linkId="{{ forloop.index }}" class="mobile-menu__link-container">
                            {% for sublink in link.links %}
                                <div class="mobile-menu__link-sublink">
                                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="mobile-menu__link">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="header-search">
                <form action="{{ routes.search_url }}" method="get">
                    <div class="header-search__wrapper">
                        <input type="search" name="q" placeholder="Search" class="header-search__input">
                        <button class="header-search__close-button" type="button">
                            {% render 'icon-close' %}
                        </button>
                    </div>
                </form>
            </div>
        
            <div class="header__links">
                <span class="header__links-search">
                    {% render 'icon-search' %}
                </span>
                {% if settings.cart_type == 'default' %}
                    <a class="header__links-shopping" href="{{ routes.cart_url }}">
                        {% render 'icon-shopping' %}
                        {% if cart.item_count > 0 %}
                            <span class="cart-count">{{ cart.item_count }}</span>
                        {% endif %}
                        
                    </a>
                {% else %}
                    <a class="header__links-drawer">
                        {% render 'icon-shopping' %}
                        {% if cart.item_count > 0 %}
                            <span class="cart-count">{{ cart.item_count }}</span>
                        {% endif %}
                    </a>
                {% endif %}
                <div class="header__burger-menu">
                    {% render 'icon-burger' %}
                </div>
            </div>
        </div>    
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Header menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}