{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<header class="header">
    <div class="container">
        <div class="header-container">
            {% if settings.logo != blank %}
                <div class="header__img">
                    <img src="{{ settings.logo | img_url: 'master' }}" width="{{ settings.logo.width }}" height="{{ settings.logo.height }}" alt="logo">
                </div>
            {% else %}
            {% endif %}
    
            <nav class="header__nav">
                {% for link in main_menu_linklist %}
                    {% if link.links != blank %}
                        <div class="relative header__dropdown-container">
                            <button class="header__nav-button barlow">
                                {{ link.title }}
                                {% render 'icon-dropdown' %}
                            </button>
    
                            <div class="header__nav-dropdown">
                                {% for sublink in link.links %}
                                    <a class="header__nav-link barlow" href="{{ sublink.url }}">{{ sublink.title }}</a>
                                {% endfor %}                       
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <a class="header__nav-link barlow" href="{{ link.url }}">{{ link.title }}</a>
                        </div>
                    {% endif %}
                   
                {% endfor %}
            </nav>
        
            <div class="header__links">
                <a class="header__links-shopping" href="{{ routes.cart_url }}">
                    {% render 'icon-shopping' %}
                </a>
            </div>
        </div>    
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Header menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}