{{ 'section-product.css' |  asset_url |  stylesheet_tag }}
<script src="{{ 'product-section.js' |  asset_url }}" defer="defer"></script>

<div class="product-section">
    {% assign num_photos = 6 %}
    {% assign photos_count = product.images.size %}
    {% assign remaining_photos = num_photos | minus: photos_count %}

    <div class="container">
        <div class="product-wrapper">
            <div class="product-section__images">
                {% for image in product.images %}
                    <img data-id="{{ forloop.index }}" class="product-section__image" src="{{ image |  img_url: 'master' }}" alt="{{ image.alt }}">
                    <div id="image-modal-{{ forloop.index }}" class="product-section__modal">
                        {% render 'image-modal', img: image, id: forloop.index %}
                    </div>
                {% endfor %}

                {% if remaining_photos > 0 %}
                    {% for i in (1..remaining_photos) %}
                        {{ 'product-2' |  placeholder_svg_tag: 'product-section__image' }}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="swiper product-section__swiper">
                <div class="swiper-wrapper">
                    {% for image in product.images %}
                        <div class="swiper-slide">
                            <img class="product-section__image-mobile" src="{{ image |  img_url: 'master' }}" alt="{{ image.alt }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="product-button-next"></div>
                <div class="product-button-prev"></div>
                <div class="product-swiper-pagination"></div>
            </div>

            <div class="product-section__info">
                {% render 'breadcrumb', settings: section.settings %}
                {% form 'product', product %}
                    <input id="product-form-input" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    <p class="product__title">
                        <span>{{ product.title }}</span>
                        <span class="product__vendor">({{ product.vendor }})</span>
                    </p>
                    <p class="product__price">{{ product.selected_or_first_available_variant.price |  money }}</p>

                    {% unless product.has_only_default_variant %}
                        <div id="dataset-url" data-url="{{ product.url }}" data-section="{{ section.id }}" class="product-section__variants-wrapper">
                            <label for="{{ forloop.index0 }}">Size</label>
                            <div id="{{ forloop.index0 }}" class="product-variants">
                                {% for variant in product.variants %}
                                    <div data-id="{{ variant.id }}" class="product-variant">{{ variant.title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endunless %}
                    <button type="submit" class="product__submit-button"
                        {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                        {% endif %}
                    >
                        {% if product.selected_or_first_available_variant.available == false %}
                            Sold out
                        {% else %}
                            Add to cart
                        {% endif %}
                    </button>
                {% endform %}
                <div class="product-section__description">
                    <button class="product-section__description-button">
                        <span>Description</span>
                        {% render 'icon-dropdown' %}
                    </button>
                    <span class="product-section__description-content poppins">
                        {% if product.description != blank %}
                            {{ product.description }}
                        {% else %}
                            Description is empty
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="product-section__rec-wrapper">
            <p class="product-section__rec-title">{{ section.settings.title }}</p>
            <div class="product-section__rec">
                {% for recommended_product in product.metafields.custom.recommended_products.value %}
                    {% render 'product-card', product: recommended_product %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "checkbox",
            "id": "show_breadcrumb_nav",
            "label": "Show breadcrumb navigation",
            "default": true
        },
        {
            "type": "select",
            "id": "breadcrumb_delimeter",
            "info": "The icon that is between every link in the breadcrumb",
            "label": "Breadcrumb Delimeter Icon",
            "options": [
            {
                "value": "angle_right",
                "label": "Angle Right"
            },
            {
                "value": "slash",
                "label": "Slash"
            }
            ],
            "default": "angle_right"
        },
        {
            "type": "color",
            "id": "breadcrumb_text_color",
            "label": "Breadcrumb Color",
            "default": "#465076"
        }
    ]
}
{% endschema %}